<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ilex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Ilex.Properties.Settings.DBConnectionSetting" connectionString="Data Source=CHARLIE2014\SQLEXPRESS;Initial Catalog=Adips2010;Persist Security Info=True;User ID=Adips2010;Password=Adips2010" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Ilex.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>CHARLIE2014\SQLEXPRESS</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Adips2010</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Adips2010</value>
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value>D:\Backup\myBackup.bak</value>
            </setting>
        </Ilex.Properties.Settings>
    </userSettings>
</configuration>
